body {
    margin: 0;
}
section {
    text-align: center;
    margin: 50px auto;
}
section a {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 30px;
    border-radius: 3px;
}
div {
    padding-top: 50px;
}

div img{
    display: none;
}
a:hover {
    color:rgb(173, 218, 14)
}
a:hover+div img {
    display: inline-block;

}